TAGS
*~
\#*
.#*
*.gz
src/*.o
src/*.so
src/*.dll
R/*.R+*
vignettes/*.R
vignettes/*.tex
vignettes/cache/*
inst/doc/cache/*
inst/testdata/lme-tst-fits.Rout*
inst/testdata/*testdata*
tests/*.Rout*
tests/*.R+*
.Rproj.user
lme4.Rproj
.Rhistory
misc/
revdep/
.gitsum/
Rplots.pdf

