export(bootMer)
export(devcomp)
export(findbars)
export(fixef)
export(fortify)
export(getL)
export(getME)
export(GHrule)
export(glFormula)
export(glmer.nb)
export(glmer)
export(glmerControl)
export(glmFamily)
export(glmResp)
export(golden)
export(GQdk)
export(isGLMM)
export(isLMM)
export(isNested)
export(isNLMM)
export(isREML)
export(lFormula)
export(lmer)
export(lmerControl)
export(lmerResp)
export(lmList)
export(lmResp)
export(merPredD)
export(mkGlmerDevfun)
export(mkLmerDevfun)
export(mkMerMod)
export(mkRespMod)
export(mkReTrms)
export(mkVarCorr)
export(Nelder_Mead)
export(NelderMead)
export(nlformula)
export(nlmer)
export(nlmerControl)
export(nlsResp)
export(nobars)
export(optimizeGlmer)
export(optimizeLmer)
export(ranef)
export(refit)
export(refitML)
export(rePos)
export(sigma)
export(subbars)
## export(tnames)
export(updateGlmerDevfun)
export(VarCorr)
export(varianceProf)
exportClasses(glmerMod)
exportClasses(lmerMod)
exportClasses(lmList)
exportClasses(merMod)
exportClasses(nlmerMod)
exportMethods(getL)
exportMethods(show)
importClassesFrom(Matrix,corMatrix)
importClassesFrom(Matrix,dgCMatrix)
importClassesFrom(Matrix,dpoMatrix)
importFrom(graphics,plot)
importFrom(grid,gpar)
importFrom(grid,viewport)
importFrom(lattice,densityplot)
importFrom(lattice,dotplot)
importFrom(lattice,qqmath)
importFrom(lattice,splom)
importFrom(lattice,xyplot)
importFrom(MASS,negative.binomial)
importFrom(MASS,theta.ml)
importFrom(Matrix,drop0)
importFrom(Matrix,rankMatrix)
importFrom(Matrix,rBind)
importFrom(Matrix,sparseMatrix)
importFrom(methods,show)
importFrom(minqa,bobyqa)
importFrom(nlme,fixef)
importFrom(nlme,ranef)
importFrom(nlme,VarCorr)
importFrom(splines,backSpline)
importFrom(splines,interpSpline)
importFrom(splines,periodicSpline)
importFrom(stats,anova)
importFrom(stats,coef)
importFrom(stats,confint)
importFrom(stats,deviance)
importFrom(stats,drop1)
importFrom(stats,extractAIC)
importFrom(stats,family)
importFrom(stats,fitted)
importFrom(stats,formula)
importFrom(stats,logLik)
importFrom(stats,model.matrix)
importFrom(stats,nobs)
importFrom(stats,profile)
importFrom(stats,residuals)
importFrom(stats,simulate)
importFrom(stats,terms)
importFrom(stats,update)
importFrom(stats,vcov)
importFrom(stats,weights)
importMethodsFrom(Matrix,"%*%")
importMethodsFrom(Matrix,coerce)
importMethodsFrom(Matrix,crossprod)
importMethodsFrom(Matrix,diag)
importMethodsFrom(Matrix,t)
importMethodsFrom(Matrix,tcrossprod)
S3method(anova,merMod)
S3method(as.data.frame,boot)
S3method(as.data.frame,thpr)
S3method(as.function,merMod)
S3method(coef,lmList)
S3method(coef,merMod)
S3method(confint,lmList)
S3method(confint,merMod)
S3method(confint,thpr)
S3method(densityplot,thpr)
S3method(deviance,merMod)
S3method(dotplot,coef.mer)
S3method(dotplot,ranef.mer)
S3method(drop1,merMod)
S3method(extractAIC,merMod)
S3method(family,glmResp)
S3method(family,lmResp)
S3method(family,merMod)
S3method(family,nlsResp)
S3method(fitted,merMod)
S3method(fixef,merMod)
S3method(formula,lmList)
S3method(formula,merMod)
S3method(fortify,lmerMod)
S3method(isGLMM,merMod)
S3method(isLMM,merMod)
S3method(isNLMM,merMod)
S3method(isREML,merMod)
S3method(log,thpr)
S3method(logLik,merMod)
S3method(model.frame,merMod)
S3method(model.matrix,merMod)
S3method(nobs,merMod)
S3method(plot,coef.mer)
S3method(plot,lmList.confint)
S3method(plot,merMod)
S3method(plot,ranef.mer)
S3method(predict,merMod)
S3method(print,merMod)
S3method(print,summary.merMod)
S3method(print,VarCorr.merMod)
S3method(profile,merMod)
S3method(qqmath,ranef.mer)
S3method(ranef,merMod)
S3method(refit,merMod)
S3method(refitML,merMod)
S3method(residuals,glmResp)
S3method(residuals,lmResp)
S3method(residuals,merMod)
S3method(sigma,merMod)
S3method(simulate,merMod)
S3method(splom,thpr)
S3method(summary,merMod)
S3method(summary,summary.merMod)
S3method(terms,merMod)
S3method(update,lmList)
S3method(update,merMod)
S3method(VarCorr,merMod)
S3method(vcov,merMod)
S3method(vcov,summary.merMod)
S3method(weights,merMod)
S3method(xyplot,thpr)
useDynLib(lme4,.registration=TRUE)
export(fortify.lmerMod)
