# For help debugging build failures open an issue on the RStudio community with the 'github-actions' tag.
# https://community.rstudio.com/new-topic?category=Package%20development&tags=github-actions
# originally from https://deanattali.com/blog/migrating-travis-to-github/
on:
  push:
    branches:
      - main
      - master
  pull_request:
    branches:
      - main
      - master

name: R-CMD-check

jobs:
  R-CMD-check:
    if: github.event.name == 'pull_request' ||
       contains(github.event.head_commit.message, '[run ci]')

    runs-on: ${{ matrix.config.os }}

    name: ${{ matrix.config.os }} (${{ matrix.config.r }})

    strategy:
      fail-fast: false
      matrix:
        config:
##          - {os: windows-latest, r: 'release'}
##          - {os: macOS-latest, r: 'release'}
##          - {os: ubuntu-20.04, r: 'release', rspm: "https://packagemanager.rstudio.com/cran/__linux__/focal/latest"}
##          - {os: macos-14, r: 'devel'}
          - {os: ubuntu-latest, r: 'devel'}

    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      LME4_TEST_LEVEL: 2

    steps:
      - uses: actions/checkout@v3

      - uses: r-lib/actions/setup-pandoc@v2

      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}

      # Enable r2u (Ubuntu binaries via bspm) to speed up dependency installation on Linux
      - name: Setup r2u (Linux)
        if: runner.os == 'Linux'
        uses: eddelbuettel/github-actions/r2u-setup@master
      
      - name: Verify r2u/bspm is enabled
        if: runner.os == 'Linux'
        run: |
          R -q -e 'sessionInfo()'
          R -q -e 'getOption("repos")'
          R -q -e 'if (requireNamespace("bspm", quietly=TRUE)) bspm::synthesise() else message("bspm not installed?")'

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::rcmdcheck
          needs: check

      - name: Install LaTeX etc.
        if: runner.os == 'Linux'
        run: |
          sudo apt-get install texlive texlive-latex-base texlive-latex-extra

      # LaTeX setup for MacOS. Will need to replace if we ever want to
      #   run Actions on MacOS again ...
      #
      # - uses: teatimeguest/setup-texlive-action@v3
      #   if: runner.os != 'Linux'
      #   with:
      #     packages: >-
      #        scheme-basic
      #        inputenc
      #        graphicx
      #        array
      #        colortbl
      #        multirow
      #        hhline
      #        calc
      #        tabularx
      #        threeparttable
      #        wrapfig
      #        url
      #        hyperref
      #        fancyvrb
      #        natbib
      #        xcolor
      #        etoolbox
      #        caption
      #        adjustbox

      - uses: r-lib/actions/check-r-package@v2
        env:
          _R_CHECK_CRAN_INCOMING_REMOTE_: false
          _R_CHECK_FORCE_SUGGESTS_: false
          NOT_CRAN: true
        with:
          build_args: 'c("--compact-vignettes=both")'
          upload-snapshots: true